<div class="privacy-policy">
    <h1>Privacy Policy</h1>
    <section id="privacy-information-we-collect">
        <h3>What information do we collect?</h3>
        <p>We collect basic information from you when you use the app.</p>
    </section>

    <section id="privacy-information-use">
        <h3>What do we use your information for?</h3>

        <p>Any of the information we collect from you may be used in one of the following ways:</p>

        <ul>
            <li>To personalize your experience using your setting preferences.</li>
            <li>To save your progress and allow you to use the app.</li>
        </ul>

        <p>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company
            for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased
            product or service requested, to administer a contest, promotion, survey or other site feature or to send periodic
            emails.</p>
    </section>



    <section id="privacy-protection">

        <h3>How do we protect your information?</h3>
        <p>The information stored is available to you only, and is in no way personal. All informatino is related to the app.</p>
    </section>



    <section id="privacy-contact-us">

        <h3>Contacting Us</h3>

        <p>If there are any questions regarding this privacy policy you may contact us using the information stored on Google Play.</p>

    </section>

</div>